.container {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;

  grid-template-areas:
    "...... intro intro intro ....."
    "...... main main main ......"
    "...... item1 item2 item3 ......"
    "...... footer footer footer ......"
}

.intro {
  grid-area: intro;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}


p {
  font-size: 30px;
}

.test-item {
  background-color: grey;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}


@media only screen and (max-width: 600px) {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2em 2em;

    grid-template-areas:
      "intro"
      "main"
      "item1"
      "item2"
      "item3"
      "footer"
  }


}
