body {
    font: 16px Arial, sans-serif;

    --bg-color: white;
    --prim-color: #077187;
    --sec-color: #74a57f;
    --sec-color-highlight: #90cc9e;

    background-color: var(--bg-color);

    margin: 0;
}

.topnav {
  background-color: var(--sec-color);
  box-shadow: 0px 5px 5px 0px grey;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 1;

  line-height: 3.5rem;
}

.topnav ul {
  text-align: right;
  margin: auto;
}

.topnav li {
  font-size: 1.2em;
  padding-left: 3%;
  padding-right: 3%;
  display: inline-block;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

#nav-list {
  display: block;
}

.topnav .logo {
  font-size: 2.0rem;
  float: left;
  margin-left: 1rem;
}

.topnav .logo-text {
  vertical-align: middle;
}

.topnav .menu {
  float: right;
  font-size: 2em;
  line-height: 3.5rem;
  margin-right: 1rem;
  cursor: pointer;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}




footer {
  background-color: var(--sec-color);
  width: 100%;
}

footer .foot-items ul {
  list-style: none;
}

footer .foot-items ul li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}

footer .foot-container {
  text-align: right;
  margin-right: 5%;
}

footer .foot-copyright {
  color: #474747;
}

a {
  color: inherit;
  text-decoration: inherit;
}



.container {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 2em;
  grid-column-gap: 0em;

  grid-template-areas:
    "...... intro intro intro ....."
    "...... main main main ......"
    "...... slideshow slideshow slideshow ......"
    "...... item1 item2 item3 ......"
    "footer footer footer footer footer"
}

.intro {
  margin-top: 5em;
  grid-area: intro;
}

.main {
  grid-area: main;
}

.slideshow {
  grid-area: slideshow;
}

.footer {
  grid-area: footer;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.test-item {
  text-align: center;
  padding: 1em;
  border-radius: 1em;
}

.form-input {
  width: 20em;
  padding: 1.0em;
  border-radius: 0.5em;
  border: 0px;

  background-color: #cdf7f6;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

.form-input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.product-container {
  border: solid 1px;
  border-color: var(--sec-color);
  border-radius: 0.5em;
  text-align: center;
  margin: 1em;
}

.product-header {
  background-color: var(--sec-color);
  text-align: center;
  border-radius: 0.5em 0.5em 0em 0em;
  padding: 1em;
}

.product-cost {
  text-align: center;
  font-weight: bold;
}

.product-description {
  text-align: center;
  line-height: 1.5em;
}

.btn {
  cursor: pointer;
  background-color: var(--prim-color);
  padding: 0.5em;
  width: 10em;
  border-radius: 0.5em;
  border: none;
  margin: 1em auto;
  font-size: 14px;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.point {
  text-align: center;
  padding: 1em;
}

.point-icon {
  float: left;
  width: 2em;
  font-size: 5em;
  color: var(--prim-color);
}

.point-text {

}

.slideshow-container {
  position: relative;
  margin: auto;
  width: 30em;
}

.prev-btn, .next-btn {
  cursor: pointer;
  position: relative;
  top: 50%;
  color: var(--sec-color);
  font-size: 2rem;
}

.prev-btn {
  left: 0px;
  float: left;
}

.next-btn {
  right: 0px;
  float: right;
}

.slide-img {
  display: none;
  width: 30rem;
  margin: auto;
}

.image-caption {
  text-align: center;
}

#number-text{
  float: left;
  position: absolute;
  color: grey;
}







@media only screen and (max-width: 600px) {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2em 2em;

    grid-template-areas:
      "intro"
      "main"
      "slideshow"
      "item1"
      "item2"
      "item3"
      "footer"
  }

  .form-input {
    width: 80%;
  }

  .btn {
    width: 50%;
  }

  .slideshow-container {
    width: 80%;
  }
  .slide-img {
    width: 100%;
  }

  .point-icon {
    display: none;
  }

  .topnav .logo-text {
    display: none;
  }

  #nav-list {
    display: none;
  }

  .topnav ul li {
    display: block;
  }
  .topnav ul {
    margin-top: 3.5rem;
  }

}

@media only screen and (min-width: 600px) {

  .btn:hover {
    box-shadow: 0 0 1em rgba(81, 203, 238, 1);
  }

  .nav-items:hover {
    background-color: var(--sec-color-highlight);
  }

  .foot-items li:hover {
    color: var(--sec-color-highlight);
  }

  .nav-items {
    cursor: pointer;
  }

  nav .menu {
    display: none;
  }

}
