body {
    font: 16px Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 2em;
  grid-column-gap: 2em;

  grid-template-areas:
    "...... intro intro intro ....."
    "...... main main main ......"
    "...... slideshow slideshow slideshow ......"
    "...... item1 item2 item3 ......"
    "...... footer footer footer ......"
}

.intro {
  grid-area: intro;
}

.main {
  grid-area: main;
}

.slideshow {
  grid-area: slideshow;
}

.footer {
  grid-area: footer;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.test-item {
  background-color: grey;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
}

.point {
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
}

.point-icon {
  float: left;
  width: 2em;
  font-size: 5em;
}

.point-text {

}


@media only screen and (max-width: 600px) {

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2em 2em;

    grid-template-areas:
      "intro"
      "main"
      "slideshow"
      "item1"
      "item2"
      "item3"
      "footer"
  }

  .point-icon {
    display: none;
  }


}
